
body{
    background-color: rgb(172, 228, 148);
    font-size: 20px;
}

h1{
    background-color: rgb(234, 235, 157);
}

h2{
    color: rgb(121, 99, 139);
}
img{
    size:50px;
    margin:10px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(177, 171, 171);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
   
    margin: 5px 0;
    border-radius: 4px;
}

.navbar ul {
    z-index: 1000;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10%;
}

.navbar ul li{
    float: left;
    margin: 10px;
}

.navbar ul li a{
   display: block;
   text-decoration: none;
   color: #152369;
   background-color: #aefab0;
   padding: 5%;

}

.navbar ul li a:hover {
    background-color: burlywood;
}

html {
    scroll-padding-top: 10px; /* Adjust to match height of your navbar */
}